.about{
    margin-top: 20vh;
    place-items: center;
    display: grid;
    text-align: center;
    padding: 5px;
}

.about>h1,h3{
    color: cornsilk;
    padding: 5px;
}


@media  (max-width:500px) {
    .about{
        margin-top: 5vh;
    }
}

@media  (max-width:500px) {
    .about>h1{
        font-size:20px;
    }
}

@media (max-width:500px) {
    .about>h3{
        font-size: 13px;
    }    
}
